:root {
  --bi-blue: #0157b9;
  --bi-cyan: #00c0ff;
  --bi-poultry-title: "Conthrax", sans-serif !important;
  --bi-font-size: 4rem;
}

.contribute-button {
  margin-left: 18px;
}

.draw-block {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.draw-block .row {
  gap: 2rem;
}

.draw-form {
  width: "100%";
}

.draw-section {
  font-size: 40px;
  padding-bottom: 100px;
  padding-top: 40px;

  /* BI-POULTRY  */
  color: var(--bi-blue);
  font-size: var(--bi-font-size);
  font-family: var(--bi-poultry-title);
  text-transform: uppercase;
}

.result-section {
  text-align: center;
}

.review-section {
  overflow-y: scroll;
}

.btn {
  margin-left: 50% !important;
  transform: translateX(-50%) !important;
  font-size: 1rem;
}

.btn-primary {
  /* PHILSAN  */

  /* background-color: #339443 !important;
  border-color: #339443 !important; */
  /* border-radius: 1rem 0 !important; */
  padding: 4px 1rem;

  /* BI-POULTRY  */
  background-image: linear-gradient(to right, var(--bi-blue), var(--bi-cyan));
  border-radius: 0px;
  border: none;
}

.btn-block {
  width: auto !important;
}

/* Rolling items/names  */
.x0.x3.x4.x5 {
  left: 50%;
  translate: -50% !important;
  color: gray;
  font-size: var(--bi-font-size);
  font-family: var(--bi-poultry-title);
}

.draw-section-header {
  width: fit-content;
  margin: 1rem auto;
  padding: 0.5rem 2rem;
  background-image: linear-gradient(to right, var(--bi-blue), var(--bi-cyan));
  border-radius: 0px;
  border: none;
  text-align: center;
}

.draw-section-header-text {
  color: white;
  text-transform: uppercase;
  font-size: 60px;
  font-weight: 600;
  margin-bottom: unset;
}

.event-logo {
  width: 100%;
  height: auto;
}

.event-logo-container {
  display: flex;
  justify-content: center;
  margin: auto;
}
