body {
  width: 100%;
  height: 100%;
  background-color: #000;
  background-image: url("/public/images/BG.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.header {
  display: none !important;
}

.page-main {
  height: 100vh !important;
}

#text,
.btn,
h3 {
  font-family: "Conthrax", sans-serif !important;
  font-weight: 700 !important;
}

p {
  font-family: "Source Sans 3", sans-serif !important;
}

@media (min-width: 1280px) {
  .container {
    max-width: 1600px !important;
  }
}
